body{
    background-color: rgb(38, 38, 38);
    padding: 0;
    margin: 0;
}

header{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: auto;
}
.header-container{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 101.5%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black 1%, transparent);
}
.logo img{
    width: 180px;
    height: 80px;
    margin-right: 12vw;
}
.btn button{
    margin-top: 20px;
}
button{
    background-color: red;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 550;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text-input{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    text-align: center;
}

.text-input h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-input h2 {
    font-size: 25px;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text-input h3{
    font-size: 21px;
    font-weight: 100;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-input input{
    width: 20vw;
    height: 5vh;
    background: linear-gradient(black 5%, transparent);
    border: 1px solid white;
    color: white;
    font-weight: bold;
}

.text-input .get-started{
    width: 10vw;
    height: 6vh;
    margin-left: 10px;
    font-size: 25px;
}
.text-input input:active{
    outline: 2px solid white;
    border: 2px solid white;
}

.text-input p {
    display: none;
    color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.video-movie{
    display: flex;
    justify-content: center;
    gap: 10%;
    height: 50vh;
    width: auto;
    color: white;
    background-color: black;
    margin-top: 20px;
}

.tv-text{
    margin-top: 5%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 120px;
}
.tv-text h1{
    font-weight: bold;
    text-align: center;
    font-size: 55px;
}

.tv-text p{
    font-size: 20px;
    font-weight: 100;
    width: 30vw;
    text-align: center;
}
.tv-video video{
    width: 30vw;
    height: 22vh;
    margin-top: 30px;
    display: block;
    margin-right: 21vw;
}
.tv-video img{
    position: absolute;
    height: 35vh;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translateY(110%);
}
.tv-video{
    margin-top: 5%;
}

.phone{
    margin-top: 12px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.phone-img{
    margin-top: 5%;
    margin-right: 5%;
}
.phone-img img{
    width: 30vw;
    height: auto;
}

.phone-text{
    margin-top: 10%;
}

.phone-text h1{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.phone-text p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}


.watch_everywhere{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 10px;
    height: 60vh;
}

.text_watch{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10%;
}

.text_watch h1{
    font-size: 32px;
    font-weight: bold;
}

.text_watch p{
    font-size: 22px;
    font-weight: 100;
    width: 25vw;
}

.img_watch{
    margin-top: 5%;
}

.img_watch video{
    height: auto;
    width: 18vw;
    height: 30vh;
    margin-left: 5vw;
}

.img_watch img{
    position: absolute;
    width: 28vw;
}

.kids{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 10px;
    color: white;
}

.kids_img img{
    margin-top: 10%;
    padding-right: 20px;
}

.kids_text{
    margin-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.kids_text h1{
    font-size: 50px;
    font-weight: bold;
}

.kids_text p {
    font-size: 20px;
    width: 25vw;
    font-weight: 100;
}

footer{
    background-color: black;
    color: white;
    margin-top: -18px;
    text-align: center;
}

.text_question h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
}

.questions{
    display: block;
    margin-top: 5vh;
}

.dropdwon{
    padding: 5px 0px;
}

.dropdwon button{
    width: 50vw;
    height: 8vh;
    text-align: left;
    font-size: 20px;
    background-color: rgb(38, 38, 38);
    border-radius: 0px;
    padding-left: 30px;
    padding-top: 18px;
    font-weight: 100;
}
.dropdwon #x{
    float: right;
    display: none;
    position: relative;
    left: 1px;
    top: 1px;
}
.dropdwon #y{
   float: right;
   font-size: 25px;
}

.dropdwon-text{
    display: none;
    background-color: rgb(38, 38, 38);
    margin-top: -15px;
    width: 50vw;
    margin-left: 24.5vw;
    font-size: 32px;
    z-index: 1;
}

/* ========== TABLET (max-width: 1024px) ========== */
@media screen and (max-width: 1024px) {

    /* --- Header --- */
    header {
        height: 70vh;
    }

    .header-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }

    .logo img {
        width: 140px;
        height: 60px;
        margin-right: 0;
    }

    .text-input h1 {
        font-size: 36px;
    }

    .text-input h2 {
        font-size: 20px;
    }

    .text-input h3 {
        font-size: 17px;
    }

    .text-input input {
        width: 30vw;
    }

    .text-input .get-started {
        width: 15vw;
        font-size: 20px;
    }

    /* --- Sections --- */
    .video-movie {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 40px 20px;
        gap: 20px;
    }

    .tv-text {
        margin-left: 0;
        text-align: center;
    }

    .tv-text h1 {
        font-size: 40px;
    }

    .tv-text p {
        width: 60vw;
        margin: 0 auto;
    }

    .tv-video video {
        width: 50vw;
        height: auto;
        margin-right: 0;
    }

    .tv-video img {
        width: 45vw;
        height: auto;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

    .tv-video {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Phone section */
    .phone {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .phone-img {
        margin-right: 0;
        text-align: center;
    }

    .phone-img img {
        width: 50vw;
    }

    .phone-text {
        text-align: center;
        margin-top: 20px;
    }

    .phone-text h1 {
        font-size: 28px;
    }

    /* Watch everywhere */
    .watch_everywhere {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 40px 20px;
    }

    .text_watch {
        text-align: center;
    }

    .text_watch p {
        width: 60vw;
        margin: 0 auto;
    }

    .img_watch img {
        width: 50vw;
    }

    .img_watch video {
        width: 35vw;
        height: auto;
    }

    /* Kids */
    .kids {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
    }

    .kids_img img {
        width: 60vw;
        height: auto;
    }

    .kids_text {
        text-align: center;
    }

    .kids_text h1 {
        font-size: 36px;
    }

    .kids_text p {
        width: 60vw;
        margin: 0 auto;
    }

    /* Footer / FAQ */
    .text_question h1 {
        font-size: 34px;
    }

    .dropdwon button {
        width: 70vw;
        font-size: 18px;
    }

    .dropdwon-text {
        width: 70vw;
        margin-left: 14.5vw;
        font-size: 24px;
    }
}

/* ========== MOBILE PHONES (max-width: 768px) ========== */
@media screen and (max-width: 768px) {

    /* --- Header --- */
    header {
        height: 100vh;
    }

    .header-container {
        justify-content: space-between;
        padding: 10px 15px;
    }

    .logo img {
        width: 110px;
        height: 50px;
    }

    .text-input {
        width: 90%;
    }

    .text-input h1 {
        font-size: 28px;
    }

    .text-input h2 {
        font-size: 17px;
    }

    .text-input h3 {
        font-size: 15px;
    }

    .text-input input {
        width: 55vw;
        height: 5vh;
    }

    .text-input .get-started {
        display: block;
        width: 50vw;
        height: 5vh;
        margin: 15px auto 0;
        font-size: 18px;
    }

    /* --- Sections --- */
    .video-movie {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 30px 15px;
        gap: 15px;
    }

    .tv-text {
        margin-left: 0;
        margin-top: 0;
    }

    .tv-text h1 {
        font-size: 30px;
    }

    .tv-text p {
        width: 80vw;
        font-size: 16px;
    }

    .tv-video video {
        width: 70vw;
        height: auto;
        margin-right: 0;
    }

    .tv-video img {
        width: 65vw;
        height: auto;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

    /* Phone section */
    .phone {
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
    }

    .phone-img img {
        width: 70vw;
    }

    .phone-text h1 {
        font-size: 24px;
    }

    .phone-text p {
        font-size: 16px;
    }

    /* Watch everywhere */
    .watch_everywhere {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 30px 15px;
    }

    .text_watch h1 {
        font-size: 26px;
    }

    .text_watch p {
        width: 80vw;
        font-size: 16px;
    }

    .img_watch img {
        width: 70vw;
    }

    .img_watch video {
        width: 50vw;
        height: auto;
    }

    /* Kids */
    .kids {
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
    }

    .kids_img img {
        width: 80vw;
    }

    .kids_text h1 {
        font-size: 30px;
    }

    .kids_text p {
        width: 80vw;
        font-size: 16px;
    }

    /* Footer / FAQ */
    .text_question h1 {
        font-size: 28px;
    }

    .dropdwon button {
        width: 85vw;
        font-size: 16px;
        height: auto;
        padding: 15px 20px;
    }

    .dropdwon-text {
        width: 85vw;
        margin-left: 7vw;
        font-size: 20px;
    }
}

/* ========== SMALL PHONES (max-width: 480px) ========== */
@media screen and (max-width: 480px) {

    /* --- Header --- */
    header {
        height: 100vh;
        background-position: center;
    }

    .logo img {
        width: 90px;
        height: 40px;
    }

    button {
        padding: 6px 8px;
        font-size: 11px;
    }

    .text-input {
        width: 95%;
    }

    .text-input h1 {
        font-size: 22px;
        line-height: 1.3;
    }

    .text-input h2 {
        font-size: 15px;
    }

    .text-input h3 {
        font-size: 13px;
    }

    .text-input input {
        width: 70vw;
        height: 5vh;
        display: block;
        margin: 10px auto 0;
    }

    .text-input .get-started {
        width: 60vw;
        height: 5vh;
        font-size: 16px;
        margin: 10px auto 0;
    }

    /* --- Sections --- */
    .video-movie {
        padding: 20px 10px;
    }

    .tv-text h1 {
        font-size: 24px;
    }

    .tv-text p {
        width: 90vw;
        font-size: 14px;
    }

    .tv-video video {
        width: 85vw;
    }

    .tv-video img {
        width: 80vw;
    }

    /* Phone section */
    .phone {
        padding: 20px 10px;
    }

    .phone-img img {
        width: 85vw;
    }

    .phone-text h1 {
        font-size: 20px;
    }

    .phone-text p {
        font-size: 14px;
    }

    /* Watch everywhere */
    .watch_everywhere {
        padding: 20px 10px;
    }

    .text_watch h1 {
        font-size: 22px;
    }

    .text_watch p {
        width: 90vw;
        font-size: 14px;
    }

    .img_watch img {
        width: 85vw;
    }

    .img_watch video {
        width: 60vw;
    }

    /* Kids */
    .kids {
        padding: 20px 10px;
    }

    .kids_img img {
        width: 90vw;
    }

    .kids_text h1 {
        font-size: 24px;
    }

    .kids_text p {
        width: 90vw;
        font-size: 14px;
    }

    /* Footer / FAQ */
    .text_question h1 {
        font-size: 22px;
        padding: 0 10px;
    }

    .dropdwon button {
        width: 92vw;
        font-size: 14px;
        padding: 12px 15px;
    }

    .dropdwon-text {
        width: 92vw;
        margin-left: 4vw;
        font-size: 16px;
    }
}

